
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}

.bg-primary {
    /* background-color: #192E2F !important; */
    background-color: #000000 !important;
}

.bg-secondary {
    background-color: #3A595C !important;
}

.text-secondary {
    color: #425F4B !important;
}

.text-primary {
    color: #192E2F !important;
}

.text-warning {
    color: #BD7418 !important;
}

.text-secondary {
    color: #425F4B !important;
}

